<%= form_with(model: [post, comment], local: true, html: { class: 'box' }) do |form| %>

  <% if comment.errors.any? %>
    <div class="notification is-danger">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibieron que se guardara este comentario:</h2>
      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="control">
      <%= form.label :content, class: "label" %>
      <%= form.text_area :content, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <p><strong>Usuario:</strong> <%= current_user.email %></p>
  </div>

  <div class="field">
    <p><strong>Post:</strong> <%= @post.title %></p>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Guardar comentario", class: "button is-primary" %>
    </div>
  </div>

<% end %>
