<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div class="notification is-danger">
      <h2 class="title is-5"><%= pluralize(post.errors.count, "error") %> impidieron que se guardara esta publicación:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label"><%= form.label :title %></label>
    <div class="control">
      <%= form.text_field :title, class: "input", placeholder: "Título del post" %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= form.label :content %></label>
    <div class="control">
      <%= form.text_area :content, class: "textarea", placeholder: "Contenido del post" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <%= form.check_box :available, {}, post.available || true, false %>
        Disponible
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Guardar Post", class: "button is-primary" %>
    </div>
  </div>
<% end %>
