<div id="<%= dom_id post %>" class="box">
  <p><strong>Title:</strong></p>
  <p class="title is-4"><%= post.title %></p>

  <p><strong>Content:</strong></p>
  <p class="content"><%= post.content %></p>

  <p><strong>Available:</strong></p>
  <p class="has-text-weight-bold"><%= post.available ? 'Yes' : 'No' %></p>

  <!-- solo muestro los comentarios si mostrar_comentarios es true -->
  <% if mostrar_comentarios %>
    <% if post.comments.any? %>
      <h3 class="subtitle is-6">Comentarios:</h3>
      <ul>
        <% post.comments.each do |comment| %> <!-- Itero sobre todos los comentarios del post -->
          <li class="box">
            <p><strong><%= comment.user.email %>:</strong></p> <!-- Email del usuario que hizo el comentario -->
            <p class="content"><%= comment.content %></p>

            <!-- Solo Admin puede ver este enlace para eliminar el comentario -->
            <% if current_user&.admin? %>
              <div class="field is-grouped">
                <%= button_to "Eliminar comentario", post_comment_path(post, comment), method: :delete, data: { confirm: "¿Estás seguro que deseas eliminar este comentario?" }, class: "button is-danger is-small" %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="has-text-grey">Sin comentarios aún.</p>
    <% end %>
  <% end %>

  <div class="field is-grouped">
    <!-- Link para agregar un nuevo comentario -->
    <%= link_to 'Comentar', new_post_comment_path(post), class: "button is-primary" %>
  </div>
</div>
