<p style="color: green"><%= notice %></p>

<!-- paso mostrar_comentarios como true -->
<%= render partial: 'post', locals: { post: @post, mostrar_comentarios: true } %>

<div class="inline-elements">
  <%= link_to "Volver a Post", posts_path, class: "button is-light" %>

  <% if current_user&.admin? %>
    <%= link_to "Edit this post", edit_post_path(@post), class: "button is-light" %>
    <%= button_to "Destroy this post", @post, method: :delete, class: "button is-light" %>
  <% end %>
</div>
